__pycache__/
cookies.txt
subscriptions.json
*.pyc
.env
tmp/
temp/
*.log
local-media/
sample.m3u8
*.m3u8
*.m3u
*.local.json
ogv-dist/
config/*
.venv/
venv/

# GitShift personal account configuration
**/github-accounts.json
.DS_Store